@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {

  background-color: #e0e9f5;
}

main {
  
  text-align: center;
}

h1
{
  color: black;
}

h2
{
 word-spacing: 50px; 
letter-spacing: 8px;
text-align: center;
font-size: 30px;
color:#e0e9f5

}

h3
{

}
p {
  color: #042b5f;
  font-size: large;
  padding-left: 5%;
  padding-right: 5%;
  text-align: justify;
}